<!doctype html>
<html lang="ja">
    <head>
        <style>
            .pad{
                background-color: lavender;
                border: solid 2px;
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 100px;
                margin-top: 50px;
                padding-right: 70px;
                margin-left: 70px;
            }
        </style>
    </head>

    <body>
        <div class="pad">
            <h2>パスワードがリセットされました。</h2>
            <p>
                Your Password has been set. You may go ahead and login
            </p>
            <br>

            <!--accounts2のlogin.htmlのリンクを埋め込む-->
            <a href="{% url 'accounts2:login' %}">得点管理システムのトップページへ</a>
        </div>
    </body>
</html>