<!--base.htmlを継承-->
{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}


{% block contents %}
<!--水平線を表示-->
<hr>
<div class="container">

    <!--行-->
    <div class="row">

        <!--列-->
        <div class="col offset-2">
            <h3>サインアップ</h3>
            <!--データ送信-->
            <form method="post">
                <!--セキュリティ対策で保護用トークンを埋め込む-->
                {% csrf_token %}

                <!--フォームの各フィールドを順番に処理するループ-->
                {% for field in form %}
                <p>

                    <!--フィールドのラベルを表示-->
                    {{ field.label_tag }}<br>

                    <!--入力フォームを表示-->
                    {{ field }}

                    <!--フィールドに補助テキストがある場合に灰色の小さいテキストで表示-->
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}

                    <!--入力にエラーがある場合、赤色の文字でエラー内容を表示-->
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}
                <p style="color: red">
                    ※メールアドレスはパスワードをリセットする際に必要になりますので、
                    登録お願いします。
                </p>

                <!--Sign up　という送信ボタンを表示-->
                <input type="submit" value="Sign up">
            </form>

            <!--水平線を表示-->
            <br>
            <!--testappのindex.html（トップページ)のurlをテキストに埋め込む-->
            <p><a href="{% url 'testapp:index' %}">
                登録をやめてトップページに戻る</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}