{% extends 'base.html' %}

{% load static %}

{% block title %}お問い合わせ{% endblock %}

    {% block header %}

        <!-- Page Header-->
    <header class="masthead" style="background-image: url({% static 'assets/img/contact-bg.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <span class="subheading">Have questions? I have answers.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block contents %}
        <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <strong>連絡を取りたいですか？
                        以下のフォームに記入してメッセージを送信してください。
                        できるだけ早くご連絡します。</strong>

                        {% if messages %}

                        <ul class="list-unstyled">

                            {% for message in messages %}

                            <li class="custom-message {{message.tags}}">

                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    <div class="my-5">
                        <form method="post" >

                            {% csrf_token %}

                            {% for field in form %}
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                                <div class="form-floating">
                                    <div class="form-group floating-label-form-group controls">

                                        {{ field.label_tag}}

                                        {{ field }}
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                
                                {% endfor %}

                                <br />

                                <button type="submit"
                                        class="btn btn-primary"
                                        id="sendMessageButton">Send</button>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
        </main>
        {% endblock %}
      
