<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">

            <h1 class="fw-light">得点管理サイト</h1>
            <p class="lead text-muted">
                自分の得点を入力して成績を確認しましょう
            </p>
            <p>
            <a href="{% url 'accounts2:signup' %}" class="btn btn-primary my-2">今すぐサインアップ</a>
            <a href="{% url 'accounts2:login' %}" class="btn btn-secondary my-2">登録済みの方はログイン</a>
            </p>
        </div>
    </div>
</section>